@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Regular.eot');
  src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
      url('../fonts/JosefinSans-Regular.woff') format('woff'),
      url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
      url('../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, html, #root {
	height: 100%;
  font-family: 'Josefin Sans', sans-serif;
  background: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}
