.app {
  margin: 20px 20px 0 20px;
  width: fit-content;

  .game {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: relative;

    .tiles {
      display: flex;
      width: fit-content;

      .tile {
        margin: 2px 2px 2px 0;

        &:last-child {
          margin-right: 0;
        }

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}

.left_section, .right_section {
  width: 300px;
  padding: 40px 20px;

  .tiles {
    transform: scale(0.75);
  }
}

.scoreboard {
  width: 100%;

  font-size: 20px;

  .score_text {
    font-size: 40px;
  }
}
