.app {
  background: bisque;
  height: 100%;
  width: 100%;
  padding: 5px;

  .game {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;

    .tiles {
      display: flex;

      .tile {
        width: 40px;
        height: 40px;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }
}

.letter_distribution {
  font-size: 14px;
  margin: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 3px;
  width: fit-content;

  .letter_counts {
    width: 100%;

    .letter_distribution_col {
      width: 50%;
      white-space: nowrap;

      .letter_distribution_text {
        width: 100%;
      }
    }
  }
}

.left_section, .right_section {
  width: 300px;
  border: 1px solid black;
}

.button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  background: lightgreen;
  margin: 20px;
  margin-top: 0;
  border-radius: 10px;
  text-align: center;
}

.logs {
  width: 260px;
  height: 400px;
  margin: 20px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 3px;
  overflow-y: scroll;

  .log {
    margin-bottom: 3px;
  }
  
  .dictionary_api_connected_word {
    text-decoration: underline;
    color: darkblue;
    cursor: pointer;
  }
}
