.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 800px;
  height: 800px;
  border: 1px solid black;
  cursor: default;

  .square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
    position: relative;
  }  
}
