.button {
  border-radius: 25px;
  text-align: center;
  user-select: none;
  cursor: pointer;

  &.green {
    width: 300px;
    height: 50px;
    line-height: 50px;
    background: lightgreen;
  }

  &.red {
    width: 145px;
    height: 35px;
    line-height: 35px;
    background: lightcoral;
  }
    
  &.disabled {
    background: darkgray;
  }
}
